.popup__input {
  outline: none;
  height: 27px;
  padding: 0 0 0 0;
  border-bottom: 1px solid rgb(0,0,0,0.2);
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.popup__input:first-child {
  margin-bottom: 30px;
}