.profile {
  max-width: 100%;
  display: flex;
  margin: 40px auto 0;
  justify-content: flex-start;
}

@media screen and (max-width:1023px) {
  .profile {
    justify-content: center;
  }
}

@media screen and (max-width:500px) {
  .profile {
    max-width: calc(100% - 38px);
    flex-direction: column;
    margin: 42px auto 0;
    align-items: center;
  }  
}