.elements {
  margin: 51px 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px,282px));
  grid-template-rows: repeat(auto-fit, minmax(282px,362px));
  gap: 20px 17px;
  grid-auto-flow: row;
}

@media screen and (max-width: 1023px) {
  .elements {
    gap: 20px 20px;
    margin: 51px auto 0;
  }  
}

@media screen and (max-width: 767px) {
  .elements {
    max-width: calc(100% - 38px);
    gap: 20px 20;
    margin: 36px auto 0;
  }  
}