.popupCard__content {
  max-width: 430px;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 40px 36px;
  display: flex;
  flex-direction: column;
  
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

@media screen and (max-width: 767px) {
  .popupCard__content {
    padding: 25px 22px;
    max-width: 282px;
  }
}