.popup__close {
  width: 60px;
  height: 60px;
  background: transparent url(../../../images/popup__close.svg);
  background-size: 55px 55px;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: -53px;
  right: -54px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width:767px) {
  .popup__close {
    background-size: 40px;
    right: -22px;
    top: -54px;
  }  
}