.profile-info__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url(../../../images/edit-button.svg);
  background-size: 24px 24px;
  border: none;
  background-color: black;
  padding: 0;
  align-self: flex-end;
  outline: none;
}
.profile-info__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile-info__edit-button {
    margin-left: 10px;
    margin-top: 3px;
    background-size: 18px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    align-self: center;
  }  
}