.profile__avatar {
  max-width: calc(100% - 733px);
  max-height: 127px;
  border-radius: 50%;
}

@media screen and (max-width:321px) {
  .profile__avatar {
    max-width: calc(100% - 100px);
    max-height: 120px;
    margin: 0 auto;
  }  
}