.element__recycle {
  width: 18px;
  height: 19px;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../../../images/Trash.png);
  position: absolute;
  top: 18px;
  left: 249px;
}

.element__recycle:hover {
  opacity: 0.6;
}  