.profile-info__block {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px;
  width: 100%;
  gap: 0 18px;
}

@media screen and (max-width:767px) {
  .profile-info__block {
    display: flex;
    gap: 0;
  
  }  
}